:root {
  --color9: rgb(40, 64, 85);
  --color6: #a5c5e0;
  --color8: #e8f4ff;
  --color10: #eff7ff;
  --color11: #f6fbff;
  --primary-color: #d793f6;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  padding-top: 100px;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
body h1 {
  font-family: Dancing Script;
  font-size: 96px;
  color: var(--color9);
}

body h2 {
  font-size: 48px;
  color: var(--color9);
}

body h3 {
  font-size: 24px;
  opacity: 0.7;
  color: var(--color9);
}
body h4 {
  color: var(--color9);
}
p {
  background: var(--color11);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--color6);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  border: 1px solid var(--color9);
  color: white;
  background-color: var(--color9);
}
.about-link:hover {
  /*color: #bd73e0;
  background-color: #d793f640;*/
  color: var(--color9);
  background-color: var(--color8);
  border: 1px solid var(--color9);
}
.about-link {
  color: var(--color6);
  border: 1px solid var(--color6);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--color6);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  border: 1px solid var(--color9);
  color: white;
  background-color: var(--color9);
}
.skills {
  text-align: center;
}
.skill-h2 {
  font-size: 42px;
  color: var(--color9);
}

ul p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.fon {
  padding-top: 10%;
  background-color: var(--color10);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -45px;
  height: 100%;
}
.skill-ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 50px;
}
li {
  padding-right: 10px;
  display: inline;
}
.blueline {
  background-color: var(--color11);
  padding: 50px 50px;
}
.line-text {
  text-align: center;
}
.line-text h3 {
  font-size: 18px;
}

.go-link {
  margin-top: 20px;
  background-color: var(--color6);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.icons {
  margin: 20px 0px;
  text-align: center;
}
.icons p {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #677988;
}
.icons img {
  padding-right: 15px;
}
.photo {
  text-align: center;
}
.photo-text {
  text-align: left;
}
.me_photo {
  width: 70%;
}
.about {
  background-color: var(--color6);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.about-right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#contact {
  background-color: var(--color10);
}
.contact-upper {
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 400;
  color: var(--color9);
}
.contact-upper span {
  padding: 8px;
  border: 1px solid var(--color6);
  border-radius: 13px;
  box-shadow: 1px 0px 5px var(--color6);
}
.contact-img {
  display: inline;
}
.contact-p {
  display: inline;
  background-color: transparent;
  text-decoration: none;
  color: var(--color9);
}
.contact-p:hover {
  color: var(--color6);
}
.contact-col {
  text-align: center;
}
.background-img {
  padding: 50px 10px;
  background-color: var(--color10);
  text-align: center;
}
.portf-but {
  padding: 20px 40px;
}
.buttons-port {
  text-align: center;
}
.tools div {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color6);
}
.certif img:hover {
  opacity: 0.7;
}
.icons a:hover {
  opacity: 0.5;
}
@media (max-width: 922px) {
  .me_photo {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .blueline h3 {
    margin-bottom: 20px;
  }
  .blueline {
    text-align: center;
  }
  .photo-text {
    margin-top: 30px;
  }
  .me_photo {
    width: 80%;
  }
  .media_button {
    text-align: center;
  }
  .h2_app {
    text-align: center;
  }
  .primary-link {
    padding: 20px 40px;
  }
  .email-link {
    font-size: 22px;
  }
}
@media (max-width: 433px) {
  .h1_about {
    font-size: 80px;
  }
  .fon h1 {
    font-size: 76px;
  }
}
