:root {
  --color2: #97d9d5;
  --color3: #74ded2;
  --color4: #d5f9ec;
  --color5: #09525f;
  --color6: #b2e1decb;
  --color7: #dffcf1d5;
  --primary-color: #d793f6;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  padding-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
body h1 {
  font-size: 96px;
}

body h2 {
  font-size: 48px;
}

body h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  background: var(--color7);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--color5);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  border: 1px solid #09525f;
  color: var(--color5);
  background-color: var(--color4);
}
.about-link:hover {
  /*color: #bd73e0;
  background-color: #d793f640;*/
  color: var(--color2);
  background-color: var(--color4);
}
.about-link {
  color: var(--color2);
  border: 1px solid var(--color2);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--color2);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: #bd73e0;
  background-color: #d793f6ba;
}
@media (max-width: 768px) {
  .media_button {
    text-align: center;
  }
  .h2_app {
    text-align: center;
  }
  .primary-link {
    padding: 20px 40px;
  }
  .email-link {
    font-size: 22px;
  }
}
@media (max-width: 433px) {
  .h1_about {
    font-size: 80px;
  }
}
